<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hazenix.auris.mapper.PlaylistTracksMapper">


    <select id="listTracksByPlaylistId" resultType="top.hazenix.auris.entity.Track">
        select t.id, t.title, t.artist, t.album, t.duration,
               t.file_path, t.cover_url, t.source_type, t.create_time
        from track t inner join playlist_tracks pt on t.id = pt.track_id
        where pt.playlist_id = #{id}
        ORDER BY pt.order_index desc;
    </select>
</mapper>
