<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hazenix.auris.mapper.PlaylistTracksMapper">


    <select id="listTracksByPlaylistId" resultType="top.hazenix.auris.entity.Track">
        select t.id, t.title, t.artist, t.album, t.duration,
               t.file_path, t.cover_url, t.source_type, t.create_time
        from track t inner join playlist_tracks pt on t.id = pt.track_id
        where pt.playlist_id = #{id}
        ORDER BY pt.order_index desc;
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into playlist_tracks (playlist_id, track_id, order_index)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.playlistId}, #{item.trackId}, #{item.orderIndex})
        </foreach>
    </insert>

    <select id="findByPlaylistIdAndTrackId" resultType="top.hazenix.auris.entity.PlaylistTracks">
        select id, playlist_id, track_id, order_index
        from playlist_tracks
        where playlist_id = #{playlistId} and track_id = #{trackId}
        limit 1
    </select>

    <select id="getMaxOrderIndexByPlaylistId" resultType="java.lang.Integer">
        select COALESCE(MAX(order_index), 0)
        from playlist_tracks
        where playlist_id = #{playlistId}
    </select>

    <select id="listTracksByUserId" resultType="top.hazenix.auris.entity.Track">
        select distinct t.id, t.title, t.artist, t.album, t.duration,
               t.file_path, t.cover_url, t.source_type, t.create_time
        from track t
        inner join playlist_tracks pt on t.id = pt.track_id
        inner join playlist p on pt.playlist_id = p.id
        where p.user_id = #{userId}
        order by t.create_time desc
    </select>
</mapper>
